{{ define "styles" }}
<link rel="stylesheet" href="/styles/sitemap.css">
{{ end }}

{{ define "main" }}
<img src="/media/images/site_map_header.png" style="text-align: center; display: block; margin: auto;">
<div class="back-home-header" style="display: block; margin: auto;">
  <div class="back-home">
    <a href="/" style="width: 83px;">the castle</a>
    <div style="height: 11px; min-width: 96.5px; border-bottom: 1px dotted var(--darkbrown);"></div>
    <a href="https://neocities.org/site/princss">profile</a>
  </div>
</div>
<div class="sitemap">
  <div class="sitemap-row">
    <div style="width: 1px; height: 35px; margin: auto; border-left: 1px dotted var(--darkbrown);"></div>
  </div>
  <div class="sitemap-row" style="height: 35px; border-top: 1px dotted var(--darkbrown); max-width: 500px; margin: auto; border-left: 1px dotted var(--darkbrown); border-right: 1px dotted var(--darkbrown);">
    <div style="flex: 1; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="flex: 1; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="flex: 1; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="flex: 1; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="flex: 1; height: 35px;"></div>
  </div>
  <div class="sitemap-row">
    <a href="/diary/">diary</a>
    <a href="/microblog/">microblog</a>
    <a href="/films/">films</a>
    <a href="/music/">music</a>
    <a href="/pic-log/">pic log</a>
    <a href="/guestbook/">guestbook</a>
  </div>
</div>
{{ end }}
