{{ define "styles" }}
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/sitemap.css">
{{ end }}

{{ define "main" }}
<img src="/media/images/site_map_header.png" style="text-align: center; display: block; margin: auto;">
<div class="back-home-header" style="display: block; margin: auto;">
  <div class="back-home">
    <a href="/not-found/">not found</a>
    <div style="height: 11px; min-width: 93.5px; border-bottom: 1px dotted var(--darkbrown);"></div>
    <a href="/" style="width: 83px;">the castle</a>
    <div style="height: 11px; min-width: 96.5px; border-bottom: 1px dotted var(--darkbrown);"></div>
    <a href="https://neocities.org/site/princss">profile</a>
  </div>
</div>
<div class="sitemap">
  <div class="sitemap-row">
    <div style="width: 1px; height: 35px; margin: auto; border-left: 1px dotted var(--darkbrown);"></div>
  </div>
  <div class="sitemap-row" style="height: 35px; border-top: 1px dotted var(--darkbrown); width: 716.44px; margin: auto; border-left: 1px dotted var(--darkbrown); border-right: 1px dotted var(--darkbrown);">
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
  </div>
  <div class="sitemap-row">
    <a href="/diary/" style="margin-left: 0px;">diary</a>
    <a href="/microblog/">microblog</a>
    <a href="/films/">films</a>
    <a href="/music/">music</a>
    <a href="/ball-talk/">ball talk</a>
    <a href="/liquid-log/">liquid log</a>
    <a href="https://princss.online/archive.html">archive</a>
    <a href="/pic-log/">pic log</a>
    <a href="/guestbook/" style="margin-right: 0px;">guestbook</a>
  </div>
  <div class="sitemap-row" style="height: 35px; width: 716.44px; margin: auto; border-left: 1px dotted var(--white); border-right: 1px dotted var(--white);">
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
  </div>
  <div class="sitemap-row">
    <a href="/diary/" style="margin-left: 0px; opacity: 0%; pointer-events: none;">diary</a>
    <a href="/microblog/" style="opacity: 0%; pointer-events: none;">microblog</a>
    <a href="/films/lists/">lists</a>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 44px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>
      <div style="min-width: 45px; height: 11px; border-bottom: 1px dotted var(--darkbrown);"></div>    
    </div>
    <a href="/music/collection/">collection</a>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 46px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>   
    </div>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 46px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>
      <div style="min-width: 44px; height: 11px; border-bottom: 1px dotted var(--darkbrown);"></div>    
    </div>
    <a href="https://princss.online/archived-pages/index.html">v3</a>
    <a href="/guestbook/" style="margin-right: 0px; opacity: 0%; pointer-events: none;">guestbook</a>
  </div>
  <div class="sitemap-row" style="height: 35px; width: 716.44px; margin: auto; border-left: 1px dotted var(--white); border-right: 1px dotted var(--white);">
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
  </div>
  <div class="sitemap-row">
    <a href="/diary/" style="margin-left: 0px; opacity: 0%; pointer-events: none;">diary</a>
    <a href="/films/lists/#march-2025" style="margin-right: 0px;">mar '25</a>
    <div style="width: 89px; height: 22px; margin-right: 3px; display: flex;">
      <div style="min-width: 49px; height: 11px; border-bottom: 1px dotted var(--darkbrown);"></div> 
      <div style="min-width: 44px; height: 22px; border-left: 1px dotted var(--darkbrown);"></div>   
    </div>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 44px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>
      <div style="min-width: 45px; height: 11px; border-bottom: 1px dotted var(--darkbrown);"></div>    
    </div>
    <a href="/music/discoveries/">discoveries</a>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 46px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>   
    </div>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 46px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>
      <div style="min-width: 44px; height: 11px; border-bottom: 1px dotted var(--darkbrown);"></div>    
    </div>
    <a href="https://princss.online/archived-sites/site-11/">v2</a>
    <a href="/guestbook/" style="margin-right: 0px; opacity: 0%; pointer-events: none;">guestbook</a>
  </div>
  <div class="sitemap-row" style="height: 35px; width: 716.44px; margin: auto; border-left: 1px dotted var(--white); border-right: 1px dotted var(--white);">
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
  </div>
  <div class="sitemap-row">
    <a href="/diary/" style="margin-left: 0px; opacity: 0%; pointer-events: none;">diary</a>
    <a href="/films/lists/#valentines" style="margin-right: 0px;">feb '25</a>
    <div style="width: 89px; height: 22px; margin-right: 3px; display: flex;">
      <div style="min-width: 49px; height: 11px; border-bottom: 1px dotted var(--darkbrown);"></div> 
      <div style="min-width: 44px; height: 22px; border-left: 1px dotted var(--darkbrown);"></div>   
    </div>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 43px; height: 22px; border-right: 1px dotted var(--white);"></div>
      <div style="min-width: 45px; height: 11px; border-bottom: 1px dotted var(--darkbrown); border-left: 1px dotted var(--darkbrown);"></div>    
    </div>
    <a href="/music/favorite-albums/">fav albums</a>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 46px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>   
    </div>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 45px; height: 22px; border-right: 1px dotted var(--white);"></div>
      <div style="min-width: 44px; height: 11px; border-bottom: 1px dotted var(--darkbrown); border-left: 1px dotted var(--darkbrown);"></div>    
    </div>
    <a href="https://princss.online/archived-sites/site-10/">v1</a>
    <a href="/guestbook/" style="margin-right: 0px; opacity: 0%; pointer-events: none;">guestbook</a>
  </div>
  <div class="sitemap-row" style="height: 35px; width: 716.44px; margin: auto; border-left: 1px dotted var(--white); border-right: 1px dotted var(--white);">
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--darkbrown)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
    <div style="width: 89.56px; height: 35px; border-right: 1px dotted var(--white)"></div>
  </div>
  <div class="sitemap-row">
    <a href="/diary/" style="margin-left: 0px; opacity: 0%; pointer-events: none;">diary</a>
    <a href="/films/lists/#halloween" style="margin-right: 0px;">oct '25</a>
    <div style="width: 89px; height: 22px; margin-right: 3px; display: flex;">
      <div style="min-width: 50px; height: 11px; border-bottom: 1px dotted var(--darkbrown); border-right: 1px dotted var(--darkbrown);"></div> 
    </div>
    <a href="/diary/" style="opacity: 0%; pointer-events: none;">diary</a>
    <a href="/liquids/">liquids</a>
    <div style="width: 83px; height: 22px; margin-left: 3px; margin-right: 3px; display: flex;">
      <div style="min-width: 46px; height: 22px; border-right: 1px dotted var(--darkbrown);"></div>   
    </div>
    <a href="/diary/" style="opacity: 0%; pointer-events: none;">diary</a>
    <a href="/diary/" style="opacity: 0%; pointer-events: none;">diary</a>
    <a href="/guestbook/" style="margin-right: 0px; opacity: 0%; pointer-events: none;">guestbook</a>
  </div>
</div>
{{ end }}
