<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/music_page.css">
</head>
<body>
  <div class="page-header">discoveries</div>
  <div class="content">
    <p>{{ .Site.Data.music.discoveries.description }}</p>
    <div class="discoveries">
      {{ range $i, $disc := .Site.Data.music.discoveries.discoveries }}
      <div class="discovery"{{ if eq $i (sub (len $.Site.Data.music.discoveries.discoveries) 1) }} style="border-bottom: none;"{{ end }}>
        <div class="discovery-left">
          <img src="{{ $disc.image }}">
          <div class="discovery-info">
            <div class="artist">{{ $disc.artist }}</div>
            <div class="title">{{ $disc.title }}</div>
          </div>
        </div>
        <div class="discovery-right">
          {{ $disc.review | markdownify }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</body>
</html>
