<!-- larr.net widgets -->
<a href="mailto:l@larr.net?subject=Hello">
  <img src="/media/images/buttons/email.gif" alt="email" />
</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
  <img
    src="/media/images/buttons/2025-12-01_18-50-40_screenshot.png"
    alt="HTML"
  />
</a>
<a
  href="https://theanarchistlibrary.org/library/donald-rooum-and-freedom-press-ed-what-is-anarchism-an-introduction"
>
  <img
    src="/media/images/buttons/2025-12-01_18-51-09_screenshot.png"
    alt="anarchism"
  />
</a>
<a href="https://macmost.com/ten-reasons-i-love-macs.html">
  <img
    src="/media/images/buttons/2025-12-01_18-44-27_screenshot.png"
    alt="mac"
  />
</a>
<a href="https://stallman.org/microsoft.html">
  <img
    src="/media/images/buttons/2025-12-01_18-53-46_screenshot.png"
    alt="anti-microsoft"
  />
</a>
<a href="https://www.coursera.org/learn/html">
  <img
    src="/media/images/buttons/2025-12-01_18-58-15_screenshot.png"
    alt="html course"
  />
</a>
<a href="https://en.wikipedia.org/wiki/MacOS_Sequoia">
  <img
    src="/media/images/buttons/2025-12-01_18-58-39_screenshot.png"
    alt="macOS"
  />
</a>
<a href="https://youtu.be/sZIEdI9TS2U">
  <img
    src="/media/images/buttons/2025-12-01_18-58-44_screenshot.png"
    alt="youtube"
  />
</a>
<a href="https://www.dont-click-here.com">
  <img
    src="/media/images/buttons/2025-12-01_18-58-48_screenshot.png"
    alt="dont click"
  />
</a>
<a href="https://www.extremelyfungible.com">
  <img
    src="/media/images/buttons/2025-12-01_19-30-14_screenshot.png"
    alt="nft"
  />
</a>
<a href="https://anlucas.neocities.org/88x31Buttons">
  <img
    src="/media/images/buttons/2025-12-01_19-32-36_screenshot.png"
    alt="88x31 buttons"
  />
</a>
<a href="https://wok.oblomov.eu/tecnologia/google-killing-open-web/">
  <img
    src="/media/images/buttons/2025-12-01_19-32-49_screenshot.png"
    alt="google killing web"
  />
</a>
<a href="https://chomsky.info/20110309-2/">
  <img
    src="/media/images/buttons/2025-12-01_19-32-59_screenshot.png"
    alt="chomsky"
  />
</a>
<a href="https://archlinux.org/">
  <img
    src="/media/images/buttons/2025-12-01_19-33-04_screenshot.png"
    alt="arch linux"
  />
</a>
<a href="https://wok.oblomov.eu/tecnologia/google-killing-open-web-2/">
  <img
    src="/media/images/buttons/2025-12-01_19-33-31_screenshot.png"
    alt="google killing web 2"
  />
</a>
<a href="https://archiveofourown.org">
  <img
    src="/media/images/buttons/2025-12-01_19-33-37_screenshot.png"
    alt="ao3"
  />
</a>
<a href="https://joinmastodon.org">
  <img
    src="/media/images/buttons/2025-12-01_19-33-53_screenshot.png"
    alt="mastodon"
  />
</a>
<a href="http://theonion.com">
  <img
    src="/media/images/buttons/2025-12-01_19-33-58_screenshot.png"
    alt="the onion"
  />
</a>
<a href="https://www.startpage.com">
  <img
    src="/media/images/buttons/2025-12-01_19-34-04_screenshot.png"
    alt="startpage"
  />
</a>
<a href="https://www.torproject.org/">
  <img
    src="/media/images/buttons/2025-12-01_19-34-15_screenshot.png"
    alt="tor"
  />
</a>
