<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page Not Found</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/not-found.css">
  <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>
  <div class="content">
    <div class="not-found" style="margin-top: 0px; margin-bottom: -30px;">404 page not found</div>
    <img src="/media/images/not_found.png">
    <div class="not-found">
      <a href="/">back to the castle?</a>
    </div>
  </div>
</body>
</html>
