{{- $page := . -}}
{{- $date := $page.Date -}}
{{- if and $page.File (eq $page.File.Ext "org") -}}
  {{- $rawContent := $page.RawContent -}}
  {{- $pattern := `(?mi)^#\+date:\s*<(\d{4}-\d{2}-\d{2})` -}}
  {{- $match := findRE $pattern $rawContent 1 -}}
  {{- if $match -}}
    {{- $line := index $match 0 -}}
    {{- $dateMatch := findRE `(\d{4}-\d{2}-\d{2})` $line 1 -}}
    {{- if $dateMatch -}}
      {{- $dateStr := index $dateMatch 0 -}}
      {{- $date = time $dateStr -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $date -}}
