div {
    box-sizing: border-box;
}
body {
    width: 945px;
    margin: auto;
    display: block;
    padding-top: 20px;
}
a {
    color: var(--darkbrown);
    text-decoration: 1px dotted underline;
    -webkit-transition: 0.25s;
}
.header {
    z-index: 4;
    position: sticky;
    top: 0px;
    margin-top: -2px;
    border-bottom: 1px dotted var(--darkbrown);
    background-color: var(--white);
    padding-top: 5px;
    padding-bottom: 5px;
}
.header a:hover {
    letter-spacing: 1px;
    -webkit-transition: 0.25s;
}
.calendar {
    width: 945px;
}
.month {
    background-color: var(--darkbrown);
    color: var(--white);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px dotted var(--white);
    padding: 5px;
}
.week-title {
    display: flex;
    border-bottom: 1px dotted var(--darkbrown);
}
.day {
    text-align: center;
    width: 135px;
    padding: 5px;
    border-right: 1px dotted var(--darkbrown);
}
.date-row {
    width: 945px;
    display: flex;
    border-bottom: 1px dotted var(--darkbrown);
}
.date {
    overflow: hidden;
    width: 135px;
    height: 135px;
    border-right: 1px dotted var(--darkbrown);
}
.date-number {
    font-weight: bold;
    width: 135px;
    padding: 5px;
}
.date-content {
    max-height: 111px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 0px;
}
.date-content::-webkit-scrollbar {
    width: 0px;
}
.event {
    padding-left: 5px;
    padding-right: 5px;
}
.arrow {
    position: relative;
    border-bottom: 1px solid var(--darkbrown);
}