html {
    background-color: var(--white);
}
body {
    width: 900px;
    display: block;
    margin: auto;
    padding-top: 20px;
}
a {
    color: var(--darkbrown);
    text-decoration: 1px dotted underline var(--darkbrown);
    -webkit-transition: 0.25s;
}
a:hover {
    opacity: 75%;
    -webkit-transition: 0.25s;
}
.header {
    margin-top: -2px;
    display: flex;
    width: 900px;
    border-bottom: 1px dotted var(--darkbrown);
    background-color: var(--white);
}
.header a:hover {
    letter-spacing: 1px;
    -webkit-transition: 0.25s;
}
.left-header {
    box-sizing: border-box;
    width: 202px;
    height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px dotted var(--darkbrown);
}
.right-header {
    box-sizing: border-box;
    text-align: right;
    padding-top: 5px;
    width: 700px;
}
.film {
    display: flex;
    border-bottom: 1px dotted var(--darkbrown);
}
.left {
    border-right: 1px dotted var(--darkbrown);
    text-align: center;
    width: 200px
}
.info {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    display: block;
    margin: auto;
    width: 200px;
    box-sizing: border-box;
}
.title {
    font-weight: bold;
    color: var(--gold);
}
.right {
    text-align: justify;
    padding-left: 10px;
    padding-top: 10px;
    color: var(--lightgold);
    width: 700px;
}
.frame {
    text-align: center;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    max-height: 371px;
    background-image: url(https://princss.online/media/images/film_frame.png);
}