body {
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 925px;
}
div {
    box-sizing: border-box;
}
.header {
    position: sticky;
    top: 0;
    margin-top: -2px;
    display: flex;
    border-bottom: 1px dotted var(--darkbrown);
    background-color: var(--white);
}
.header a {
    text-decoration: 1px dotted underline;
    color: var(--darkbrown);
    -webkit-transition: 0.25s;
}
.header a:hover {
    letter-spacing: 1px;
    -webkit-transition: 0.25s;
}
.left-header {
    border-right: 1px dotted var(--darkbrown);
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
}
.right-header {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 775px;
}
.habit-row {
    display: flex;
    border-bottom: 1px dotted var(--darkbrown);
}
.habit-left {
    width: 150px;
    padding: 5px;
    padding-left: 0px;
    border-right: 1px dotted var(--darkbrown);
}
.habit-right {

}
.habit-dates {
    display: flex;
}
.date {
    border-right: 1px dotted var(--darkbrown);
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 5px;
}