:root {
    --darkbrown: #190503;
    --white: #f0f0f0;
}
html {
    background-color: var(--white);
    font-family: "Times", "Amiri", "Arial", serif !important;
    font-size: 14px;
    color: var(--darkbrown);
    image-rendering: pixelated;
}

p {
    text-align: justify;
    font-family: "Times", "Amiri", "Arial", serif !important;
}

body {
    font-family: "Times", "Amiri", "Arial", serif !important;
}

::selection {
    background-color: var(--darkbrown);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border: 1px dotted var(--darkbrown);
    -webkit-transition: 0.25s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkbrown);
    -webkit-transition: 0.25s;
}

.copy-permalink {
    float: right;
    font-size: 0.85em;
    opacity: 0.5;
    cursor: pointer;
}
.copy-permalink:hover {
    opacity: 1;
}

a {
    color: var(--darkbrown);
    -webkit-transition: 0.25s;
}

.preview-block {
    color: gray;
}
