body {
    margin: 0px;
    font-size: 14px;
    font-family: "MS UI Gothic";
}
::-webkit-scrollbar {
    width: 0px;
}
a {
    color: var(--darkbrown);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    -webkit-transition: 0.25s;
}
a:hover {
    opacity: 70%;
    -webkit-transition: 0.25s;
}
.update {
    text-align: justify;
    border-bottom: 1px dotted var(--darkbrown);
    padding: 10px;
    padding-left: 0;
}
.update p {
    margin: 0;
    display: inline;
}
