body {
    margin: 0px;
}
::-webkit-scrollbar {
    width: 0px;
}
a {
    color: var(--darkbrown);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    -webkit-transition: 0.25s;
}
a:hover {
    opacity: 70%;
    -webkit-transition: 0.25s;
}
.update {
    text-align: justify;
    border-bottom: 1px dotted var(--darkbrown);
    padding: 10px;
}
.update p {
    margin: 0;
    display: inline;
}